:root{
				--player-health: 100;
				--enemy-health: 100;
				--player-width: 50%;
				--enemy-width: 100%;
}



*{
				margin: 0;
				padding: 0;
}
body{
				background: #9c95ff;
				height: 100vh;
				overflow: hidden;
}

#gridbox{
				width: calc(100% - 24px);
				height: calc(60vh - 24px);
				margin: 10px;
				border: 2px solid #7040ff;
				border-radius: 5px;
				display: grid;
				grid-template-columns: 1fr 1fr;
}
.character{
				width: calc(100% - 10px);
				padding: 5px;
}
.health{
				width: 70%;
				background: ;
}
#player_health, #enemy_health {
				width: 50px;
				height: 50px;
}
.health_bar{
				width: 100px;
				height: 30px;
				background: red;
				border-radius: 4px;
}
#enemy_health_bar {
				
				height: 30px;
				background: lime;
				border-radius: 4px;
}
#player_health_bar{
				
				height: 30px;
				background: lime;
				border-radius: 4px;
}
.image{
				
}
.character_img{
				width: 150%;
				transform: translateX(-25%);
}
#controls{
				width: calc(100% - 24px);
				height: calc(40vh - 14px);
				margin: 0 10px 10px 10px;
				border: 2px solid #7040ff;
				border-radius: 5px;
				/* grid-column: 0/2; */
}

.button{
				height: 60px;
				width: 60px;
				margin: 40px;
}
